* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;
    padding: 10vh 12vw 10vh;
    background: #0022fc;
    background: linear-gradient(171deg,rgba(0, 34, 252, 1) 60%, rgba(255, 255, 255, 1) 60%);
}

.raccoon_img {
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.header_body {
    height: 80%;
    border: 2px solid black;
    padding: 10px 10px 10px 20px;
}

.body_container {
    width: 100%;
    padding: 15vh 10vw;
}

.tile_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

.work_tile {
    border: 2px solid black;
    height: 30vh;
}

footer {
    width: 100%;
    display: flex;
    padding: 10vh 12vw;
    background-color: green;
}