* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

header {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    padding: 0 12vw;
}

.raccoon_img {
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.header_body {
    height: 80%;
    border: 2px solid black;
    padding: 10px 10px 10px 20px;
}

.body_container {
    width: 100%;
    padding: 15vh 10vw;
}

.tile_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

.work_tile {
    border: 2px solid black;
    height: 30vh;
}

footer {
    width: 100%;
    display: flex;
    padding: 10vh 12vw;
    background-color: green;
}